<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @user.name %></h1>
    <p>
      El proyecto <%= @project.name %> ha agregado un nuevo articulo.
    </p>
    <p>
      Puedes verlo en el siguiente enlace:  %>.
    </p>
  </body>
</html>
