<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @user.name %></h1>
    <p>
      Te has suscrito satisfactoriamente al proyecto <%= @project.name %>
      Ahora estarás al tanto de todos los articulos que se publiquen.    
  </body>
</html>
