<div class="article section">
  <h1 class="text-center">Editar artículo</h1>
  <hr class="primary">

  <%= render 'form', article: @article %>

  <!-- <%= link_to 'Detalles', @article, class: 'ui teal button' %> -->
</div>
