<%= render "shared/menu" %>

<br><br><br><br>
<div class="dashboard">
  <h1 class="section-heading text-center">Artículos</h1>
  <hr class="primary"><br>

  <div class="ui three cards">
    <%= render @articles %>
  </div>

  <br><br>
  <%= will_paginate @articles, previous_label:'Anterior', next_label:'Siguiente', renderer: WillPaginateSemanticUi::ActionView::Renderer %>
  <br><br><br><br>
</div>
