<%= render "shared/menu" %>

<br><br><br><br>
<div class="create article">
  <h1 class="section-heading text-center">Editar Grupo</h1>
  <hr class="primary">
  <%= render 'form', research_group: @research_group %>

  <%= link_to 'Atrás', research_groups_path, class:'ui button' %>
  <%= link_to 'Ver Proyecto', @research_group, class:'ui teal button' %>
</div>
