<%= render "shared/menu" %>

<br><br><br><br>
<div class="create article">
  <h1 class="section-heading text-center">Editar Grupo</h1>
  <%= render 'form', research_group: @research_group %>  
</div>
