<%= render "shared/menu" %>

<br><br><br><br>
<div class="dashboard">
  <h1 class="section-heading text-center">Grupos de Investigación</h1>
  <hr class="primary"><br>

  <div class="ui three cards">
    <%@research_groups.each do |g|%>
      <%= render partial: "shared/research_group", locals: {research_group: g} %>
    <%end%>
  </div>
  
  <br><br>
  <%= will_paginate @research_groups, previous_label:'Anterior', next_label:'Siguiente', renderer: WillPaginateSemanticUi::ActionView::Renderer %>
  <br><br><br><br>
</div>

<%= link_to 'New Research Group', new_research_group_path %>
