<div class="dashboard">
  <div class="ui secondary pointing menu" id="dashboard-menu">
    <a class="item active">Todos</a>
    <a class="item">Proyectos</a>
    <a class="item">Artículos</a>
    <div class="right menu">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Buscar...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>

  <%= render "shared/paginate" %>

</div>
<!-- <= javascript_include_tag "dashboard.js" %> -->
