<div class="dashboard">
  <div class="ui secondary pointing menu" id="dashboard-menu">
    <a class="item active" href="/?item=0">Todos</a>
    <a class="item" href="/?item=1">Proyectos</a>
    <a class="item" href="/?item=2">Artículos</a>
    <a class="item" href="/?item=3">Grupos</a>
    <a class="item" href="/?item=4">Personas</a>
    <div class="right menu">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Buscar...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>

  <%= render "shared/paginate" %>

</div>
