<div class="dashboard">
  <div class="ui four cards">
    <%= render @projects %>
  </div>

  <br><br>
  <%= will_paginate @projects, previous_label:'Anterior', next_label:'Siguiente', renderer: WillPaginateSemanticUi::ActionView::Renderer %>
  <br><br><br><br>
</div>
