<div class="dashboard">
  <div class="ui secondary pointing menu">
    <a class="item active">Todos</a>
    <a class="item">Proyectos</a>
    <a class="item">Artículos</a>
    <div class="right menu">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Buscar...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>

  <!--<div>
    <div class="ui three cards">
    <%= render @articles %>
    </div>
    <br>
    <br>
    
    <%= will_paginate @articles, :param_name => 'article_page', previous_label:'Anterior', next_label:'Siguiente', renderer: WillPaginateSemanticUi::ActionView::Renderer %>


  </div>-->
  <div>
    <div class="ui three cards">
      <%= render @projects %>
    </div>
    <br>
    <br>
    
    <%= will_paginate @projects, :param_name => 'project_page', previous_label:'Anterior', next_label:'Siguiente', renderer: WillPaginateSemanticUi::ActionView::Renderer %>-->
  </div>
</div>