<div class="dashboard">
  <div class="ui secondary menu">
    <div class="ui bottom line centered header">¿Qué estás buscando?</div>
    <div class="right menu">
      <div class="ui icon input">
        <input type="text" placeholder="Buscar...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>

  <center>
    <div class="ui secondary pointing compact menu" id="dashboard-menu">
      <a class="item active" href="/?item=0">Todo</a>
      <a class="item" href="/?item=1">Proyectos</a>
      <a class="item" href="/?item=2">Artículos</a>
      <a class="item" href="/?item=3">Grupos</a>
      <a class="item" href="/?item=4">Personas</a>
    </div>
  </center>

  <%= render "shared/paginate" %>

</div>
