<div class="holder all">
  <div class="ui four stackable cards">
    <%= render @items %>
  </div><br><br>

  <%= will_paginate @items, previous_label:'Anterior', next_label:'Siguiente', renderer: WillPaginateSemanticUi::ActionView::Renderer %>
</div>
