<div class="section text-center">
  	<h1 class="section-heading text-center">¿Quieres dejarnos un mensaje?</h1>
  	<hr class="primary">

	<%= render 'form', contact: @contact %>

	<%= link_to 'Atrás', :back, class: 'ui left floated button' %>
</div>
