
    <header class="masthead">
      <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading">COLSWE APP</h1>

        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">APP DESCRIPTION</h2>
            <hr class="light">
            <p class="text-faded">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet elit odio. Fusce purus sapien, varius non interdum varius, eleifend vel ex. Fusce gravida sagittis nisl a rhoncus. Cras eu commodo arcu. Nulla fermentum et risus vitae maximus. Etiam quis posuere ligula, et mattis nisi. Duis blandit orci ut feugiat mattis.</p>
            <a class="btn btn-default btn-xl js-scroll-trigger" href="#services">Get Started!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">CONTACTANOS</h2>
            <hr class="primary"><br>
            <form>
             <div class="form-group">
               <label for="email">Email:</label>
               <input type="email" class="form-control" id="email">
             </div>
             <div class="form-group">
               <label for="pwd">Mensaje:</label>
               <input type="password" class="form-control" id="pwd">
             </div>
             <button type="submit" class="btn btn-default">Enviar</button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">

          </div>
          <div class="col-lg-4 mr-auto text-center">

          </div>
        </div>
      </div>
    </section>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
