<p>
  <strong>From:</strong>
  <%= @message.from_id %>
</p>

<p>
  <strong>To:</strong>
  <%= @message.to_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @message.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @message.message %>
</p>
