<div class="create article">
  <h1 class="section-heading text-center">Editar Proyecto</h1>
  <hr class="primary">

  <%= render 'form', project: @project %>

  <%= link_to 'Atrás', research_group_project_url(@project.research_group_id, @project), class:'ui button' %>
  <!-- <%= link_to 'Ver Proyecto', @project, class:'ui teal button' %> -->
</div>
