<%= render "shared/menu" %> 

<br><br><br><br>
<div class="create article">
  <h1 class="section-heading text-center">Editar Proyecto</h1>
  <hr class="primary">

  <%= render 'form', project: @project %>

  <%= link_to 'Atrás', projects_path, class:'ui button' %>
  <%= link_to 'Ver Proyecto', @project, class:'ui teal button' %>
</div>
