<div class="article section">
  <h1 class="section-heading text-center">Crear un Nuevo Proyecto</h1>
  <hr class="primary">

  <%= render 'form', project: @project %>

  <%= link_to 'Atrás', '/home', class: 'ui left floated button' %>
</div>
