<div class="login">
  <h1 class="text-center">¿Olvidaste tu contraseña?</h1>
  <hr class="primary">

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "ui form" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, :placeholder => 'Email'  %>
  </div>

  <div class="actions">
    <center>
      <%= f.submit "Restablecer contraseña", :class => 'ui teal button' %>
    </center>
  </div>
  <% end %>
</div>
