/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require semantic_ui/semantic_ui
 */

/*  --------------------------------
    ---------- Main Styles ---------
    --------------------------------  */

#footer{
  margin: 0;
  position: relative;
  bottom: 0 !important;
  width: 100%;
  border-radius: initial;
}



/*  --------------------------------
    ---- Login ad SignUp Styles ----
    --------------------------------  */

.login {
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  width: 600px;
  padding: 30px 30px !important;
  margin-left: calc(50% - 270px) !important;
}

.login > .ui.heading {
  margin-bottom: 20px !important;
}

.login > .links.text-center {
  margin: 20px;
}

.login > .actions > .btn {
  background-color: rgb(168, 168, 168) !important;
}

.socials {
  margin-top: 30px;
}

.socials > .ui.button {
  margin-bottom: 10px;
}



/*  --------------------------------
    ------- Edit User Styles -------
    --------------------------------  */

.edit.user {
  padding: 160px 10%;
}

#avatar-upload {
  display: none;
}

.edit.user .ui.segment {
  padding:30px;
}



/*  --------------------------------
    ------- Dashboard Styles -------
    --------------------------------  */

.dashboard {
  padding: 50px 10%;
}

.dashboard .ui.menu {
  margin-bottom: 40px !important;
}

.ui.basic.horizontal.label {
  margin-left: 10px;
}

.ui.project.label {
  background-color: #C5E8E5;
  color: #007478;
}

.ui.article.label {
  background-color: rgb(255, 211, 182) !important;
  color: #864a23 !important;
}




/*  --------------------------------
    --------- Other Styles ---------
    --------------------------------  */
