.dashboard {
  padding: 50px 10%;
}

.dashboard .ui.menu {
  margin-bottom: 40px !important;
}

.ui.basic.horizontal.label {
  margin-left: 10px;
}

.ui.project.label {
  background-color: #C5E8E5;
  color: #007478;
}

.ui.article.label {
  background-color: rgb(255, 211, 182) !important;
  color: #864a23 !important;
}
