.edit.user {
  // padding-top: 160px !important;
  // width: 700px;
  // margin-left: calc(50% - 350px);
  padding: 160px 10%;
}

#avatar-upload {
  display: none;
}

.edit.user .ui.segment {
  padding:30px;
}
