<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%=@user.name%></h1>
    <p>
      Te presentamos el resumen semanal del proyecto <%=@project.name%>.
      Esta semana se han publicado los siguientes artículos:
    </p>
    <ul>
      <% @articles.each do |article| %>
      <li>
        "<%=article.name%>" se creó el <%=article.created_at%>
      </li>
      <% end %>
    </ul>
  </body>
</html>
